<div class="wrapper">

    <!-- Slidebar -->
    <div id="slidebar" class="slidebar">
        <div class="slidebar-header">
            <a href="/">TOP100</a>
        </div>
        <% if @data["root_category"].present? %>
            <a class="root-category" href="/categories/<%= @data["root_category"]["id"] %>/page/1"><%= @data["root_category"]["name"] %></a>
            <ul>
                <li>
                    <a class="selected-category"><%= @data["selected_category_name"] %></a>
                    <% if @data["categories"].present? %>
                        <ul>
                            <% @data["categories"].each.with_index(1) do |category, index| %>
                                <li data-mark="category-item-<%= index %>">
                                    <a class="category-name" href="/categories/<%= category["id"] %>/page/1">
                                        <%= category["name"] %>
                                    </a>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </li>
            </ul>
        <% else %>
            <a class="selected-category"><%= @data["selected_category_name"] %></a>
            <% if @data["categories"].present? %>
                <ul>
                    <% @data["categories"].each.with_index(1) do |category, index| %>
                        <li data-mark="category-item-<%= index %>">
                            <a class="category-name" href="/categories/<%= category["id"] %>/page/1">
                                <%= category["name"] %>
                            </a>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </div>

    <div class="container-fluid">
        <!-- Header -->
        <nav class="navbar navbar-expand-lg">
            <a id="slidebarCollapse">
                <i class="menu-icon fas fa-bars"></i>
            </a>
            <div id="webTitle" class="web-title">
                <a href="/">TOP100</a>
            </div>
            <div class="dropdown ml-auto">
                <a class="dropdown-toggle" href="#" role="button" id="marketplaceMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Marketplace
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="marketplaceMenu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>

        <!-- Products List -->
        <div class="d-flex align-content-start flex-wrap">
            <% if @data["products"].present? %>
                <% @data["products"].each do |product| %>
                    <div class="product-item">
                        <%= image_tag("#{ENV["CLOUDFRONT_S3_ENDPOINT"]}/#{product["image_path"]}")%>
                        <p data-mark="product-item-<%= product["rank"] %>">
                            #<span class="product-rank"><%= product["rank"] %></span>: 
                            <span class="product-name"><%= product["name"] %></span>
                        </p>
                    </div>
                <% end %>
            <% end %>
        </div>

        <!-- Greeetings -->
         <% if @data["selected_category_name"] == "Any Department" %>
            <div id="greetings">
                <div class="row">
                    <div class="col">
                        Hi, welcome to the world of Top100!
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        You can select the category from the right menu, or click the button above to browser the entries which you want to loook at. 
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">
                        Regards,
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Meng Liu
                    </div>
                </div>
            </div>
         <% end %>

        <!-- Pagination -->
        <% if @data["products"].present? %>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link description" href="#">Paginagion:</a></li>
                    <% for i in 1..2 %>
                        <% if params[:page].to_i == i %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% else %>
                            <li class="page-item"><a class="page-link" href="/categories/<%= params[:category_id] %>/page/<%= i %>"><%= i %></a></li>
                        <% end %>
                    <% end %>
                </ul>
            </nav>
        <% end %>

        <!-- Footer -->
        <div class="footer row">
            <div class="col">
                © 2020. LIAMYABOU.
            </div>
        </div>
    </div>
</div>
